<!DOCTYPE html>
<html lang="en">
<head>
    <title>J^3 Record Marketplace</title>
</head>

<body>
    <div>
        <h1>Home Page</h1>
    </div>
    <div>
        Welcome to the Record Marketplace!
    </div>
    <div>
        <h2>Recent Listings:</h2>
    </div>
    <div>
        <a href="/listing/{{listing0.listing_id}}"><h3>Listing 1:</h3></a>
        <h4>{{listing0.record}}</h4>
        <p>{{listing0.date_posted}}</p>
        <p>Buyer: {{listing0.buyer}}</p>
        <p>Seller: {{listing0.seller}}</p>
        <p>Price: ${{listing0.price}}</p>
    </div>
    <div>
        <a href="/listing/{{listing1.listing_id}}"><h3>Listing 2:</h3></a>
        <h4>{{listing1.record}}</h4>
        <p>{{listing1.date_posted}}</p>
        <p>Buyer: {{listing1.buyer}}</p>
        <p>Seller: {{listing1.seller}}</p>
        <p>Price: ${{listing1.price}}</p>
    </div>
</body>
</html>
