<!DOCTYPE html>
<html lang="en">
<head>
    <title>J^3 Record Marketplace</title>
</head>

<body>
    <div>
        <h1>Home Page</h1>
    </div>
    <div>
        <h3>Listing 1:</h3>
        <h4>{{record0}}</h4>
        <p>{{date_posted0}}</p>
        <p>Buyer: {{buyer0}}</p>
        <p>Seller: {{seller0}}</p>
        <p>Price: ${{price0}}</p>
    </div>
    <div>
        <h3>Listing 2:</h3>
        <h4>{{record1}}</h4>
        <p>{{date_posted1}}</p>
        <p>Buyer: {{buyer1}}</p>
        <p>Seller: {{seller1}}</p>
        <p>Price: ${{price1}}</p>
    </div>
</body>
</html>